-var user = data.user
-var salt = data.salt
-var newPassword = data.newPassword
-var oldPassword = data.oldPassword
-var oldEncryptedPassword = data.oldEncryptedPassword
-var newEncryptedPassword = data.newEncryptedPassword


html
  head
    style.
      body {font-family:arial} p {font-size:15px}
  body
    h3(style="color:#0967a5") Password Modified
    p
      | #[strong Step 1 - Authenticate User] 
      br
      br
      | - Found username #[i #{user}] in database.
      br
      | - Retrieved salt #[i #{salt}] from database record.
      br
      | - Provided old password #[i #{oldPassword}] combined with salt in encryption algorithm to produce encrypted password: 
      br
      br
      |     #[i #{oldEncryptedPassword}]
      br
      br
      | - Checked if username and encrypted password exist together in database - success!
      br
      br
      | #[strong Step 2 - Modify Password] 
      br
      br
      | - Combined salt (retrieved above) with new password #[i #{newPassword}] to produce new password encryption:
      br
      br
      |     #[i #{newEncryptedPassword}]
      br
      br
      | - Updated database record with new encrypted password.
      br
      br
      | Click #[a(href='/index') here] to return to index. 